//font
$text-color: #cbcbcb
$text-secondary-color: #aaa
$text-header: #bbb
$date-title: #979797
$time-title: #7f7f7f

//panels
$panel-color: #30333a
$panel-border: #52545a
$panel-active-border: #60646f
$time-row-border: #555
//buttons
$btn-color: #dddddd
$btn-color-hover: #fff
$btn-border: #3a3a4e
$btn-background-color: #474c55
$btn-hover-background-color: #3e4655

//data
$data-accident-color: #0a7fcc
$data-danger-color: #861e1e

//page
$page-bg-color: #393c41

//list
$list-item-hover-bg-color: #383f4b

//modal
$modal-bg-color: #4f5c72

:root
  --text-color: #{$text-color}
  --text-secondary-color: #{$text-secondary-color}
  --text-header: #{$text-header}
  --date-title: #{$date-title}
  --time-title: #{$time-title}
  --panel-color: #{$panel-color}
  --panel-border: #{$panel-border}
  --panel-active-border: #{$panel-active-border}
  --time-row-border: #{$time-row-border}
  --btn-color: #{$btn-color}
  --btn-color-hover: #{$btn-color-hover}
  --btn-border: #{$btn-border}
  --btn-background-color: #{$btn-background-color}
  --btn-hover-background-color: #{$btn-hover-background-color}
  --data-danger-color: #{$data-danger-color}
  --data-accident-color: #{$data-accident-color}
  --data-page-bg-color: #{$page-bg-color}
  --data-modal-bg-color: #{$modal-bg-color}
  --data-list-item-hover-bg-color: #{$list-item-hover-bg-color}
