/* width */
::-webkit-scrollbar
  width: 8px
  height: 8px

/* Track */
::-webkit-scrollbar-track
  background: #777777

/* Handle */
::-webkit-scrollbar-thumb
  background: #322f3b
  border-radius: 3px

    /* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #373d55

::-webkit-scrollbar-corner
  background: #282828

*
  scroll-behavior: smooth

*:hover
  &::-webkit-scrollbar-thumb
    background: #28292e
